$c-white: #ffffff;
$c-white-lgt: #f5f5f5;
$c-white-lgt-alt: #fafafa;
$c-white-lgt-alt-2: #eeeeee;
$c-white-drk: #868484;
$c-white-drk-alt: #d0d0d0;
$c-black: #000000;
$c-black-lgt: #555555;
$c-gray-txt-lgt: #5c5c5c;
$c-gray-txt-drk: #c1c1c1;
$c-red: #eb002a;
$c-red-link: #bb0b2b;
$c-red-drk: #9f0622;
$c-blue: #41b6e6;
$c-blue-lgt: #9bcbeb;
$c-blue-drk: #01426a;
$c-gold: #ffc72c;
$c-teal: #007d8a;
$c-gray: #99999b;
$c-gray-med: #bbbbbc;
$c-gray-lgt: #ebebeb;
$c-gray-drk: #54565a;
$c-gray-drk-alt: #222222;
$c-gray-drk-alt-2: #464646;
$c-error: #f06e10;
$c-error-med: #f8b787;
$c-error-lgt: #fde7d8;
$c-error-txt: #c15100;
$c-error-txt-med: #e0a880;
$c-error-alt: #cb1612;
$c-error-alt-lgt: #f7dcdb;
$c-info: #2a649e;
$c-info-lgt: #dfe8f0;
$c-success: #2f9a33;
$c-success-lgt: #e0f0e0;
$c-warning: #fbc02d;
$c-warning-lgt: #fff0c4;
